In [ ]:
from exex.core import *
from exex.compound.gas import *
from exex.reaction.core import *

In [ ]:
H2 = Gas('H2')

In [ ]:
H2.properties['volume'].add_data(1, 3.24)

In [ ]:
H2.properties['pressure'].add_data(2, 24.3)

In [ ]:
H2.properties['temperature'].add_data(2, 25)
H2.properties['temperature'].add_data(1, 31)
H2.properties['temperature'].add_data(5, 41.2)

In [ ]:
H2.info()

,mass,mole,pressure,volume,temperature,is_ideal_gas
Time,,,,,,
1,NaN,NaN,NaN,{'value': 3.24},{'value': 31},NaN
2,NaN,NaN,{'value': 24.3},NaN,{'value': 25},NaN
5,NaN,NaN,NaN,NaN,{'value': 41.2},NaN

In [ ]:
H2.info().__dict__

{'_is_copy': None,
 '_mgr': BlockManager
 Items: Index(['mass', 'mole', 'pressure', 'volume', 'temperature', 'is_ideal_gas'], dtype='object')
 Axis 1: Int64Index([1, 2, 5], dtype='int64', name='Time')
 NumericBlock: [0 1 5], 3 x 3, dtype: float64
 ObjectBlock: slice(2, 5, 1), 3 x 3, dtype: object,
 '_item_cache': {},
 '_attrs': {},
 '_flags': <Flags(allows_duplicate_labels=True)>}

In [ ]:
H2.properties['mass'].__dict__

{'abbreviate': 'm',
 'unit': 'kilogram',
 '_data': {},
 'compound': <exex.compound.gas.Gas>,
 '_connections': [],
 'laws': {'mass_mole_ratio': <exex.compound.core.MassMoleRatio>},
 'func_changed': [],
 'symbol': m}

In [ ]:
H2.properties['volume'].__dict__

{'abbreviate': 'V',
 'unit': 'liter',
 '_data': {1: {'value': 3.24}},
 'compound': <exex.compound.gas.Gas>,
 '_connections': [],
 'laws': {'boyle_law': <exex.compound.gas.BoyleLaw>,
  'charles_law': <exex.compound.gas.CharlesLaw>,
  'avogadro_law': <exex.compound.gas.AvogadroLaw>,
  'ideal_gas_law': <exex.compound.gas.IdealGasLaw>},
 'func_changed': [],
 'symbol': V}

In [ ]:
H2.properties['volume']._data

{1: {'value': 3.24}}

In [ ]:
import pandas as pd

In [ ]:
dta = {
    "pressure": {1: 2, 2: 41},
    "volume": {1: 5},
}

In [ ]:
pd.DataFrame(H2.properties['volume']._data)

          1
value  3.24

In [ ]:
df = pd.DataFrame(dta)

In [ ]:
df.index.name = "Time"

In [ ]:
df

      pressure  volume
Time
1            2     5.0
2           41     NaN

In [ ]:
dta = []

In [ ]:
for k, v in H2.properties.items():
    print(k, v.unit)
    dta.append({k: v._data})

mass kilogram
mole mole
pressure pascal
volume liter
temperature kelvin
is_ideal_gas None

In [ ]:
dta

[{'mass': {}},
 {'mole': {}},
 {'pressure': {2: {'value': 24.3}}},
 {'volume': {1: {'value': 3.24}}},
 {'temperature': {2: {'value': 25}, 1: {'value': 31}, 5: {'value': 41.2}}},
 {'is_ideal_gas': {}}]

In [ ]:
dta = {}

In [ ]:
H2.properties['temperature']._data

{2: {'value': 25}, 1: {'value': 31}, 5: {'value': 41.2}}

In [ ]:
for k, v in H2.properties.items():
    data_point = {}
    print(v._data)
    dta[k] = v._data

{}
{}
{2: {'value': 24.3}}
{1: {'value': 3.24}}
{2: {'value': 25}, 1: {'value': 31}, 5: {'value': 41.2}}
{}

In [ ]:
dta

{'mass': {},
 'mole': {},
 'pressure': {2: {'value': 24.3}},
 'volume': {1: {'value': 3.24}},
 'temperature': {2: {'value': 25}, 1: {'value': 31}, 5: {'value': 41.2}},
 'is_ideal_gas': {}}

In [ ]:
df = pd.DataFrame(dta)

In [ ]:
df

Empty DataFrame
Columns: [mass]
Index: []

In [ ]:
df = pd.DataFrame(dta, columns=['mass'])

In [ ]:
df

Empty DataFrame
Columns: [mass]
Index: []

In [ ]:
from chemlib import Compound, Reaction

In [ ]:
C2 = Compound('C2')

In [ ]:
O2 = Compound('O2')

In [ ]:
r = Reaction(reactants=[C2, O2], products=[])

In [ ]:
r

In [ ]:
r.__dict__

{'reactants': [<chemlib.chemistry.Compound>,
  <chemlib.chemistry.Compound>],
 'products': [],
 'compounds': [<chemlib.chemistry.Compound>,
  <chemlib.chemistry.Compound>],
 'reactant_formulas': ['C₂', 'O₂'],
 'product_formulas': [],
 'formula': '1C₂ + 1O₂ --> ',
 'coefficients': {'C₂': 1, 'O₂': 1},
 'constituents': ['C₂', 'O₂'],
 'reactant_occurences': {'C': 2, 'O': 2},
 'product_occurences': {},
 'is_balanced': False}

In [ ]:
r.reactants[0].__dict__

{'occurences': {'C': 2},
 'elements': [<chemlib.chemistry.Element>,
  <chemlib.chemistry.Element>],
 'formula': 'C₂',
 'coefficient': 1}